
.home-card{
    background-color: #ededed;
    padding: 35px 10px 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}
.home-card .container{
    width: 100% !important;
    gap: 10px !important;
    align-items: center;
  
}
.home-card .container .child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.home-card .container .child.heart {
  justify-content: flex-end;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

}
.home-card .container .child.price {
 font-size: 18px;
 font-weight: 700;
 line-height: 20px;
}
.home-card .container .child.content {
font-size: 14px;
line-height: 20px;
}

.home-card .container .child.heart .liked{
color: red;
}
.home-card .container button {
  background-color: #000;
  color: #fff;
 margin: 0 auto;
}