.cards {
  padding: 3rem 0;
}

.cards .container {
  width: 75%;
  align-items: flex-start;
  gap:2rem;
}
.cards .container .categories {
  gap: 25px;
}
.cards .container .categories p {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  position: relative;

}


.cards .container .categories p::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #000;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.cards .container .categories p:hover::after {
  width: 100%;
}
.cards .container .categories p.active::after {
  width: 100%;
}
.cards .container .children {
 width: 100%;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 1rem;
align-items: stretch;
 
}


@media screen and (max-width:1200px) {
  .cards .container .children {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 1rem;
}
   
}
@media screen and (max-width:891px) {
  .cards .container .children {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1rem;
}

   
}
@media screen and (max-width:585px) {
  .cards .container {
    width: 90% !important;
    align-items: flex-start;
    gap:2rem;
  }

   
}
@media screen and (max-width:385px) {
  .cards .container .children{
    width: 90% !important;
    align-items: flex-start;
    gap:10px !important;
  }

  .cards .container .children {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 1rem;
}
.cards .container {

  align-items: center !important;
 
}
.cards .container .categories p {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.cards .container .categories {
  gap: 15px;
}
}