* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Cairo", system-ui;
  scroll-behavior: smooth;
}

.flex-parent {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  padding: 10px 40px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: transparent;
  margin-top: 10px;
  cursor: pointer;
}

.transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* For the scrollbar container */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* For the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* For the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #211c24;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.btn {
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
.btn:hover {
  scale: 1.02;
}
